body {
    background-color: rgb(31, 31, 31);
    text-align: center;
    line-height: 90%;
    border-radius: 25px;
    border: 2px solid #FC3939;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
}

h1 {
    color: #FC3939;
    text-align: center;
    font-family: Andalus;
}

div#matchBox {
    border-radius: 25px;
    border: 2px solid #FC3939;
    margin: auto;
    text-align: center;
    line-height: 175%;
    width: 65%;
    padding: 0px 0px 15px 0px;
}

button#reset {
    color: #FC3939;
    background-color: transparent;
    border: transparent;
    font-family: Bastion;
    font-size: 90%;
}

div#scoreText {
    color: #FC3939;
    font-family: Andalus;
    font-size: 120%;
    text-align: center;
    border-bottom: solid;
    width: 30%;
    margin: auto;
    padding: 0px 0px 1% 0px;
}

div#cpuComment {
    color: #FC3939;
    border-top: solid #FC3939;
    font-family: Andalus;
    font-size: 90%;
    position: absolute;
    left: 1%;
    top: 50%;
    text-align: left;
    padding: 20px 0px 10px 20px;
    width: 20%;
}

a#mode {
    color: #FC9DF8;
    font-family: Bastion;
    font-size: 100%;
    text-decoration: none;
    position: absolute;
    left: 3%;
    top: 40%;
}

a#htp {
    display: block;
    color: #FC9DF8;
    font-family: Bastion;
    font-size: 80%;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
}