
body
{
    background-color: azure;
    text-align: center;
    line-height: 90%;
    border-radius: 25px;
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}

h1
{
    text-align: center;
    font-family: Andalus;
}

div#matchBox
{
    background-color: aliceblue;
    border-radius: 25px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    line-height: 175%;
    width: 65%;
    padding: 0px 0px 15px 0px;
}

button#reset
{
    background-color: azure;
    border: white;
    font-family: Bastion;
    font-size: 90%;
}

div#scoreText
{
    font-family: Andalus;
    font-size: 120%;
    text-align: center;
    border-bottom: solid;
    width: 30%;
    margin: auto;
    padding: 0px 0px 1% 0px;
}

div#cpuComment
{
    border-top: solid;
    font-family: Andalus;
    font-size: 90%;
    position: absolute;
    left: 1%;
    top: 50%;
    text-align: left;
    padding: 20px 0px 10px 20px;
    width: 20%;
}

a#mode
{
    font-family: Bastion;
    font-size: 100%;
    text-decoration: none;
    position: absolute;
    left: 3%;
    top: 40%;
}

a#htp
{
    display: block;
    font-family: Bastion;
    font-size: 80%;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
}
