/* themes */

.light {
    --color-primary: rgb(199, 199, 199);
    --color-secondary: rgb(223, 223, 223);
    --color-box-shadow: rgb(173, 173, 173);
    --color-text: rgb(255, 51, 51);
}

.dark {
    --color-primary: rgb(31, 31, 31);
    --color-secondary: rgb(71, 71, 71);
    --color-box-shadow: rgb(7, 7, 7);
    --color-container: rgb(19, 19, 19);
    --color-text: rgb(255, 213, 213);
}

/* document */

html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    background-color: var(--color-secondary);
}

/* sidebar */

#sidebar {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

/* theme switch */

.switch {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: 35px;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    top: 4px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* main container */

#container {
    height: 90vh;
    color: var(--color-text);
    background-color: var(--color-primary);
    box-shadow: 0px 0px 50px var(--color-box-shadow);
    border-radius: 20px;
    display: grid;
    align-self: center;
    grid-template-columns: 20% auto;
}

/* nav container */

#navbar {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid black;
    border-right: none;
    padding: 5%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    direction: rtl;
    /* scrollbar on left */
}

#navbar div {
    direction: ltr;
    /* realigns div content left to right */
}

#profile {
    height: 100px;
}

.category-container {
    height: fit-content;
    text-align: center;
    /* border: 2px solid black; */
}

.category {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
}

.category-title {
    border: 2px solid black;
    width: 100%;
    height: 40px;
}

.category-item {
    border: 2px solid black;
    height: 25px;
    width: 75%;
}

.category:last-of-type {
    margin-bottom: 5%;
}

.category-dropdown {
    color: hotpink;
}

/* content container */

#content-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#content {
    width: 90%;
    height: 65%;
}

.levelcontent {
    box-shadow: 0px 0px 25px var(--color-box-shadow);
    width: 100%;
    height: 100%;
}

/* imported classes */

.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}