/*grid layout*/

.light {
    --color-primary: rgb(223, 223, 223);
    --color-secondary: rgb(199, 199, 199);
    --color-box-shadow: rgb(255, 255, 255);
    --color-text: rgb(255, 51, 51);
}

.dark {
    --color-primary: rgb(31, 31, 31);
    --color-secondary: rgb(71, 71, 71);
    --color-box-shadow: rgb(7, 7, 7);
    --color-text: rgb(255, 213, 213);
}

html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5% auto;
    background-color: var(--color-secondary);
}

#container {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    color: var(--color-text);
    background-color: var(--color-primary);
    box-shadow: 0px 0px 50px var(--color-box-shadow);
    border-radius: 20px;
    display: grid;
    align-self: center;
    grid-template-columns: 20% auto;
}

#navbar {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid black;
}

#content-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid black;
    border-left: 2px solid white;
}