html {
    height: 98.5%;
    width: 100%;
    font-family: Andalus;
    /* box-shadow: inset 0 0 50px rgb(15, 15, 15); */
}

body {
    background-color: rgb(31, 31, 31);
    text-align: center;
    color: #FC9D9D;
    border: 2px solid pink;
    border-radius: 5%;
    height: 97%;
    width: 50%;
    margin: 0 auto;
    margin-top: .8%;
}
div {
    height: 82.5%;
    overflow-y: scroll;
}
h1#head1 {
    padding-top: 2%;
    border-bottom: 1px solid pink;
    width: 90%;
    margin: 0 auto;
    font-size: 150%;
}

h2#head2 {
    font-size: 100%;
    border-bottom: 1px solid pink;
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    padding-bottom: 1%;
}

h3#description {
    margin: 0 auto;
    margin-top: 2%;
    width: 85%;
    border-bottom: 1px solid pink;
    text-align: left;
    line-height: 120%;
    font-size: 100%;
}

h3#rules {
    margin: 0 auto;
    width: 85%;
    text-align: left;
    line-height: 120%;
    font-size: 100%;
}

a {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-top: 1px solid pink;
    color: rgb(122, 92, 255);
    padding-top: 0.4%;
    text-decoration: none;
}